.container
  .row
    .span9
      .page-header
        %h1
          Your mates on the map!
          %small Singup, create team and invite mates!
      .carousel.slide#HowItWorks
        / Carousel items
        .carousel-inner
          .item.active
            = image_tag "carousel/slide_1.png"
            .carousel-caption
              %h4 Main window
          .item
            = image_tag "carousel/slide_2.png"
            .carousel-caption
              %h4 Distance to your mate
          .item
            = image_tag "carousel/slide_3.png"
            .carousel-caption
              %h4 Grouping nearest mates
        / Carousel nav
        = link_to "‹", "#HowItWorks", class: "carousel-control left", data: {slide: "prev"}
        = link_to "›", "#HowItWorks", class: "carousel-control right", data: {slide: "next"}

    .span3.top-teams
      %h2 Top 10 Teams
      %ol.top-teams-list
        - @teams.find_each do |team|
          %li
            = link_to team.name, team
            %span.badge.badge-info
              %i.icon-user
              = team.users_count


