.container
  .row
    .span9
      .page-header
        %h1
          Your mates on the map!
          %br
          %small Singup, create team and invite mates!
      .carousel.slide#HowItWorks
        / Carousel items
        .carousel-inner
          .item.active
            = image_tag "carousel/slide_1.png"
            .carousel-caption
              %h4 Main window
          .item
            = image_tag "carousel/slide_2.png"
            .carousel-caption
              %h4 Distance to your mate
          .item
            = image_tag "carousel/slide_3.png"
            .carousel-caption
              %h4 Grouping nearest mates
        / Carousel nav
        = link_to "‹", "#HowItWorks", class: "carousel-control left", data: {slide: "prev"}
        = link_to "›", "#HowItWorks", class: "carousel-control right", data: {slide: "next"}

    .span3.sidebar-promo.top-teams
      - unless current_user
        = link_to(image_tag("http://likeitpages.com/images/fb-connect-large.png"), "/auth/facebook")
        %br
        %br

      %h2 Teams
      %ol.top-teams-list
        - @teams.each do |team|
          %li
            = link_to team.name, team
            %span.badge.badge-info
              %i.icon-user
              = team.entries_count

      .foursquare-section
        %a(href="http://foursquare.com/" target="_blank" title="Open Foursquare in new window")
          %img(src="https://playfoursquare.s3.amazonaws.com/press/logo/foursquare-logo.png")
        %p We get your location even while you are offline using your last check-in.

      .fb-facepile(data-max-rows="1" data-width="300")
