.container
  .row
    .span9
      .page-header
        %h1
          Your mates on the map!
          %small Just singup, create team and invite mates!
      .carousel.slide#HowItWorks
        / Carousel items
        .carousel-inner
          .item.active= image_tag "http://i.imm.io/HVh2.png"
          .item= image_tag "http://i.imm.io/HWlW.png"
          .item= image_tag "http://i.imm.io/HWrB.png"
        / Carousel nav
        = link_to "‹", "#HowItWorks", class: "carousel-control left", data: {slide: "prev"}
        = link_to "›", "#HowItWorks", class: "carousel-control right", data: {slide: "next"}

    .span3.top-teams
      %h2 Top 10 Teams
      %ol.top-teams-list
        - @teams.find_each do |team|
          %li
            = link_to team do
              = team.name
            %span.badge.badge-info
              %i.icon-user
              = team.users_count


