%h1 Main page. Welcome!

- if current_user
  %p
    - if current_user.has_account?(:foursquare)
      Your 4Square account:
      = current_user.account(:foursquare).uid
    - else
      = link_to "Connect 4Square", "/auth/foursquare"

  #map_container
    #map_canvas

  :javascript
    window.current_user = #{current_user.to_json}
    window.team = #{current_team.to_json}
    window.team_mates = #{current_team.try(:users).to_json}
