%h3.team_name= @team.name

- if current_team.users.any?
  .sidebar-nav
    %p= link_to "You can embed this map on your web-site", embed_team_path(@team), :remote => true
    %ul.nav.nav-list.current_team
      - current_team.users.find_each do |user|
        %li.team_user{:data => {:id => user.id}}
          .avatar
            = image_tag(user.avatar_url, alt: "Avatar")
          .info
            .name= user.name
            .links
              = link_to user_path(user) do
                %i.icon-user
            .location
              %span.place
              %span.distance
        - unless current_team.users.last == user
          %li.divider
