%h3= @team.name

- unless current_user.has_account?(:foursquare)
  .alert
    %button(type="button" class="close" data-dismiss="alert") x
    = link_to(image_tag("connect-foursquare.png", alt: "Connect to Foursquare"), "/auth/foursquare")
    to help us update your location while you are offline.

- if current_team.users.many? || true
  .well.sidebar-nav
    %ul.nav.nav-list
      - current_team.users.find_each do |user|
        %li
          %strong= user.name
          - if user.country?
            = "(#{user.country})"

- else
  .alert
    %button(type="button" class="close" data-dismiss="alert") x
    Now
    = invite_link("invite")
    other members of your team to see tham on the map.
