%h3= @team.name

- if current_user && current_user.has_not_account?(:foursquare)
  .alert
    %button(type="button" class="close" data-dismiss="alert") x
    = link_to(image_tag("connect-foursquare.png", alt: "Connect to Foursquare"), "/auth/foursquare")
    to help us update your location while you are offline.

- if current_team.users.many?
  .well.sidebar-nav
    %ul.nav.nav-list.current_team
      - current_team.users.find_each do |user|
        %li.team_user{:data => {:id => user.id}}
          .avatar
            = image_tag(user.avatar_url, alt: "Avatar")
          .info
            .name= user.name
            .location
              = user.country
              \-
              35km from you
        - unless current_team.users.last == user
          %li.divider

- else
  .alert
    %button(type="button" class="close" data-dismiss="alert") x
    Now
    = invite_link("invite")
    other members of your team to see tham on the map.
