.container-fluid.teams-container
  .row-fluid.teams-show
    .span3.sidebar
      = render "sidebar"
    .span9#map_container
      #map_canvas

    - if current_user && current_user.part_of?(current_team)
      - if current_user.has_not_account?(:foursquare)
        .alert.foursquare-alert
          %button(type="button" class="close" data-dismiss="alert") x
          = link_to(image_tag("connect-foursquare.png", alt: "Connect to Foursquare"), "/auth/foursquare")
          to help us update your location while you are offline.


- if current_user && current_user.part_of?(current_team)
  :javascript
    window.current_user = #{current_user.as_json(:only => [:id, :name], :methods => [:avatar_url, :latitude, :longitude]).to_json}
    window.request_geo = #{request_geo?.to_json}

- if current_team
  :javascript
    window.team = #{current_team.as_json(:only => [:id, :name]).to_json}
    window.team_mates = #{current_team.users.as_json(:only => [:id, :name], :methods => [:avatar_url, :latitude, :longitude]).to_json}
