.well
  %h1
    = image_tag(@user.avatar_url, alt: "Avatar")
    = @user.name

.container
  .row
    .span2
      %h3 Accounts
      %ul
        - @user.accounts.each do |account|
          %li= link_to account.provider_name, account.userpage_url

      %h3 Teams
      %ul
        - @user.teams.each do |team|
          %li= link_to team.name, team

    .span5
      %h3 Last Checkins
      %ul.checkins.unstyled
        - @user.checkins.limit(30).each do |checkin|
          %li
            = checkin_logo(checkin)
            %span.time=l checkin.checked_at, :format => :short
            %br
            %span.desc= checkin.desc
            %br
            - if checkin.link.present?
              %span.link
                = link_to checkin.link do
                  %i.icon-share
            %span.place= checkin.place

    .span5
