.well
  %h1
    = image_tag(@user.avatar_url, alt: "Avatar")
    = @user.name

.container
  %h3 Accounts
  %ul
    %li= link_to "Facebook", "http://facebook.com/#{@user.uid}"
    - @user.accounts.each do |account|
      %li= link_to "Foursquare", "http://foursquare.com/user/#{account.uid}"

  %h3 Teams
  %ul
    - @user.teams.each do |team|
      %li= link_to team.name, team
