.navbar.navbar-fixed-top.navbar-inverse
  .navbar-inner
    %div{class: (controller_name == "main" ? "container" : "container-fluid" )}
      %a.btn.btn-navbar(data-target=".nav-collapse" data-toggle="collapse" href='#')
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to image_tag("logo.png"), root_path, :class => 'brand'
      .nav-collapse{class: (controller_name == "main" ? "container" : "container-fluid" )}
        - if current_user
          %ul.nav
            - if current_user.part_of? current_team
              %li
                %a#invite-menu-link(href='#'){data: {need_popover: need_popover.to_s, placement: "bottom", title: "Invite mates", content: "Now invite your mates to see them on the map", trigger: "manual"}} Invite mates
            - else
              %li= link_to "Create team", new_team_path
        - if current_user
          %ul.nav.pull-right
            %li.dropdown
              %a.dropdown-toggle{ data: { toggle: "dropdown" }, href: '#' }
                = current_user.name
                %b.caret
              %ul.dropdown-menu
                %li= link_to "Sign out", signout_path
        - else
          - unless current_page?(root_path)
            %p.navbar-text.pull-right= link_to(image_tag("facebook_login_button.png", alt: "Login with Facebook"), signin_path)
